<div class="login-container">
    <form #myForm="ngForm" [formGroup]="loginForm" (ngSubmit)="onSubmit(myForm.value)">
      <div>
        <label>Email:</label>
        <input type="email" formControlName="email" placeholder="Enter your email" />
        <span class="error">
          {{emailValidations}}
        </span>
      </div>
  
      <div>
        <label>Password:</label>
        <input type="password" formControlName="password" placeholder="Enter your password" />
        <span class="error">
          {{passwordValidations}}
        </span>
      </div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
    </form>
    <a routerLink="/sign-up">Not registered? Sign-up</a>
  </div>
  